#SiteLogo img {
	filter: hue-rotate(-60deg) saturate(10);
}

spriteicon,
#SubNavigator li spriteIcon,
#SubNavigator .ActiveEntry spriteIcon {
	filter: grayscale(100%) sepia(100%) hue-rotate(-60deg) saturate(400%);
}

a {
	color: #ff7777;
}

a:hover {
	color: #ffffff;
}

button.IconButton {
	--DefaultGreenColor: #ffa0a0;
}

#ProgressReportModule {
	--DefaultBlueColor: #ff7777;
}

.AvatarImage {
	border-radius: 7px;
	width: 100px;
}

.BananaIconText,
.ContentRatingIcon {
	border-radius: 7px;
	width: 30px;
}

spriteIcon.ContentRatingIcon {
}

.InlineRadioOptions label:first-of-type {
	border-radius: 7px 0 0 7px;
}

.InlineRadioOptions label:last-of-type {
	border-radius: 0 7px 7px 0;
}

#PrimaryNav {
	border-radius: 7px 7px 0 7px;
}

#SecondaryNav {
	border-radius: 0 0px 7px 7px;
}

#AuthorsAndRolesModule {
	font-family: "Synkopy";
}

#AuthorsAndRolesModule h2 {
	font-family: "Synkopy";
}

:root {
	--ButtonFontFamily: "Helvetica Neue Condensed Bold";
	--DefaultTextFontFamily: "Helvetica Neue Condensed Bold";
	--ModuleTitleFontFamily: "Helvetica Neue Condensed Bold";
	--DefaultTinyFontSize: 0.9rem;
	--DefaultMediumFontSize: 1.05rem;
	--ModuleTitleFontSize: 1.3rem;
}

@font-face {
	font-family: "Helvetica Neue Condensed Bold";
	src: url(https://raw.githubusercontent.com/gamerbross/4eva-uberstyle/main/fonts/helvetica.ttf);
}

@font-face {
	font-family: "Synkopy";
	src: url(https://raw.githubusercontent.com/gamerbross/4eva-uberstyle/main/fonts/synkopy.ttf);
}

/* latin-ext */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotocondensed/v31/ieVj2ZhZI2eCN5jzbjEETS9weq8-19eLAQM9UvI.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotocondensed/v31/ieVj2ZhZI2eCN5jzbjEETS9weq8-19eLDwM9.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotocondensed/v31/ieVl2ZhZI2eCN5jzbjEETS9weq8-19y7DRs5.woff2)
		format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/robotocondensed/v31/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
